<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speech to Text Translator</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans+HK:wght@300&display=swap&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <h1 class="title"> About Speech to Text Translator </h1>
      <h2 class="subtitle"> An insider's look at the creator behind this project</h2>
    </div>
    <div class="profile">
      <img src="mlyprofile.png" alt="Profile" id="profile-img">
    </div>
    <p id="paragraph"> Ever needed to transcribe an audio recording real fast? This project was created by Michelle Ly, an undergraduate computer science student from MA. </p>
      <br>
    <div class="buttons">
      <button class="blue"> <a class="text" href="{{url_for('index')}}">Back to main page</a></button>
    </div>
    <footer> <a class="underline"> Made with ♡ by Michelle </a></footer>
  </body>
</html>
