<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speech to Text Translator</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans+HK:wght@300&display=swap&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <h1 class="title"> Transcription </h1>
    </div>
    <div class="transcript">
      <textarea id="box" rows="17" cols="100">
        {{ transcript }}
      </textarea>
    </div>
    <div class="buttons, center">
      <button class="blue"> <a class="text" href="{{url_for('index')}}">Back to main page</a></button>
    </div>
    <footer> Made with ♡ by Michelle </footer>
</body>
